<a href="/sports">Back to Sports Page</a>
<h1><%= @id_sports.sport_name %></h1>
<h3>Invented: <%= @id_sports.invented %></h3>
<h3>Team Size: <%= @id_sports.team_size %></h3>

<a href="/sports/<%= @id_sports.id_sports %>/edit">Edit Page</a>

<form class="" action="/sports/<%= @id_sports.id_sports %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete" style="background-color:red;border:2px solid black;margin:20px;">
</form>
